@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@1,300&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 130px;
  text-align: center;
  font-size: 30px;
  height: 5vh;
  background-position: center;
  margin: 140px auto 90px;
}

h2 {
  margin-top: 40px;
  text-align: center;
}

/* body */
body {
  background-color: #f9f9f9;
  color: black;
  width: 100%;
  height: 100vh;
}
/* header */
header {
  background-color: #f9f9f9;
  border: 2px solid black;
  width: 90%;
  margin: auto;
  /* padding: 20px; */

  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 99;
}

ul {
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  display: flex;
  align-content: space-between;
  list-style-type: none;
}

/* text decoration a*/
 a { 
  color: black;
  text-decoration: none;
} 

a :visited{
  color: grey;
}

/* li */
nav ul {
  padding-top: 1rem;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
}

li :hover {
  color: blueviolet;
}

/* main */
main {
  margin-top: 30px;
}

/* big picture 1 */
#parent {
  height: 660px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #a4acb1;
  background-image: url(./christopher-gower-m_HRfLhgABo-unsplash.jpg);
  position: relative;

  margin: 0 auto;
  color: aliceblue;
}

section {
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 80%;
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 30px;
}
footer{background-color:#79B4B7;
 width: 100%;
height: 10vh;
margin-bottom: 0px;
padding: 20px;}



/* p element */
.first {
  display: flex;
  text-align: left;
  width: 50%;

  margin: 0 150 0 150;
  padding: 10px;
} 


/* images selbstreflexion */
.grey {
  border: 5px solid gray;
  width: 402px;
  height: 302px;
}

.image {
  display: inline-block;
}

/* selbstreflexion.html text */

aside {
  margin-top: 50px;
  width: 50px;
  left: 50%;
}

aside {
  width: 60%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}

aside p {
  font-family: "Fira Sans", sans-serif;
}
/* boxen  in inde html*/
#flex-container {
  display: inline-block;
  justify-content: space-between;
}
/* boxen */
.one {
  display: inline;
  justify-content: center;

  width: 500px;
  height: 500px;
  border: 1px solid grey;
  padding: 50px;
  margin: 20px;
}


.float-left {
  float: left;
}

.center {
  margin: auto;
}
/* web development.html */
#mitte {
  margin-top: 50px;
  padding: 30px;
}

h1 {
  text-align: center;
}

.web-development {
  border: 2px solid red;
  width: 60%;
  /* height: 100vh; */

  margin: 80px;
  margin-bottom: 80px;
}

.float-left,
.float-right {
  object-fit: cover;
  border: 3px solid grey;

  margin-right: 10px;
  margin: 30px 50px 0 0;
}

.section-left {
  border: 2px solid black;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.clear-float {
  clear: left;
}

.web-development {
  font-size: 1em;
  float: inline-start;
}

.float-right {
  display: block;
}
.css-herz {
  display: inline-block;
  width: 122px;
  height: 122px;
  border: 1px solid silver;

 position: relative;

  margin-top: 50px;
  margin-left: 50px;

  color: white;
  font-size: 2em;
}

.css-herz:before, 
.css-herz:after {
  content: "";  
  background-color: red;
  width: 80px;
  height: 120px;
  position: absolute;
    
  text-align: center;

  border-radius: 40px 40px 0 0;
  
  transform-origin: 0 100%; 
  transform: rotate(-45deg);  
}
    
.css-herz:before {
  left: 80px;
}    

.css-herz:after {
  content: "";  
 
  transform: rotate(45deg);    
  transform-origin: 100% 100%;
    
  border-radius: 60px 40px 0 0;    
}
